<h4>Vaši zahtjevi:</h4>
<h6>* Svaki Vaš zahtjev za prodaju mora biti odobren od strane moderatora.</h6>
<h6>* Ukoliko se zahtjev odobri, Vaša sredstva se automatski ažuriraju.</h6>
<h6>* Status: 1 = Neodobreno,  Status: 2 = Odobreno</h6>
<br>
<button  routerLink="/zahtjevi/novi" type="button" class="btn btn-primary">Predaj novi zahtjev</button>
<br>
<br>
<div class="row">
  <div *ngFor="let zahtjev of zahtjevi" class="col-2">
<app-zahtjev-card [zahtjev]="zahtjev"></app-zahtjev-card>
  </div>
</div>
