<div class="form-group">
  <input
  [class.is-invalid]="ngControl.touched && ngControl.invalid"
  type={{type}}
  class="form-control"
  [formControl]="ngControl.control"
  placeholder={{label}}>
  <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">Unesite {{label}}</div>
  <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
     {{label}} mora sadržavati minimalno znakova: {{ngControl.control.errors.minlength['requiredLength']}}
  </div>
  <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
    {{label}} može sadržavati maksimalno znakova: {{ngControl.control.errors.maxlength['requiredLength']}}
  </div>
  <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">
    Lozinke se ne podudaraju.
  </div>
</div>

