
  <div class="card mb-3">
    <h3 class="card-header">Detalji valute:</h3>
    <div *ngIf="valuta" class="card-body">
      <h5 class="card-title">{{valuta?.naziv}}</h5>
    </div>
    <!-- morao i ovdje dodati ngIf da ne izbacuje null error -->
    <img *ngIf="valuta" src="{{'assets/'+ valuta?.slikaValute}}" class="d-block user-select-none" width="90%" height="200"
     aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice"
      viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
    <div class="card-body">
      <p class="card-text">Tečaj u odnosu na 1 HRK: {{valuta?.tecaj | number : '1.0-2'}} <p>
    </div>
    <div class="card-body">
    <audio controls *ngIf="drzava">
      <source src="{{'assets/'+ drzava.himna}}" type="audio/mpeg">
      <!-- <source src="assets/himne/Croatia.mp3" type="audio/mpeg"> -->
    </audio>

    <div class = "btnUpdate" *ngIf="valuta">
      <button *appHasRole='["administrator"]' type="button" class="btn btn-primary" [routerLink]="['edit']">Ažuriranje</button>
      <button  *appHasRole='["moderator", "administrator"]'  type="button" class="btn btn-primary" (click)="putTecajValute();">Ažuriranje Tečaja</button>
    </div>
    <br>
      <button routerLink="/valute" type="button" class="btn btn-primary"> Vrati se</button>
    </div>
  </div>

  <div class="row">
    <div id="map" class="map-container" style="height: 200px;" >
    </div>
  </div>


  <!-- <div *ngIf="drzava" class="container">
  <div id="mapid" class="map" style="height: 200px;"
     leaflet
     [leafletOptions]="options">
     [(leafletCenter)]="center"
     [leafletCenter]="{{drzava?.duljina}}, {{drzava?.sirina}}"
</div>
</div> -->

