<form [formGroup]= "sredstvaForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Ažuriraj iznos sredstava koje posjeduješ:</legend>
    <div class="form-group">
      <label for="valuta">Valuta</label>
      <input
       type="text"
        class="form-control"
         id="valuta"
         formControlName="valuta"
          aria-describedby="idHelp"
           placeholder="Unesite naziv valute">
      <small id="idHelp" class="form-text text-muted">Unesite naziv valute kojoj želite promijeniti iznos sredstva</small>
    </div>
    <div class="form-group">
      <label for="iznos">Iznos</label>
      <input type="number"
       class="form-control"
        id="iznos"
        formControlName="iznos"
         placeholder="Unesite iznos">
    </div>
    <button type="submit" class="btn btn-primary">Ažuriraj sredstva</button>
  </fieldset>
</form>

